.movie-list-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.genre-select {
  width: 250px; /* Increased width */
  height: 40px; /* Increased height */
  font-size: 18px; /* Increased font size */
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.genre-select option {
  font-size: 14px;
  color: #333 !important;
  background-color: #fff !important;
}

.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.movie-item:hover {
  background-color: #f2f2f2;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-genre {
  font-size: 16px;
  color: #666;
}

.movie-release-year {
  font-size: 16px;
  color: #666;
}